<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: Юрий Исаков и Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Тема 4. Линейные модели классификации и регрессии
## <center>  Практика. Идентификация пользователя с помощью логистической регрессии

Тут мы воспроизведем парочку бенчмарков нашего соревнования и вдохновимся побить третий бенчмарк, а также остальных участников. Веб-формы для отправки ответов тут не будет, ориентир – [leaderboard](https://www.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2/leaderboard) соревнования.

In [128]:
import pickle
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook
from scipy.sparse import csr_matrix, hstack
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns

### 1. Загрузка и преобразование данных
Зарегистрируйтесь на [Kaggle](www.kaggle.com), если вы не сделали этого раньше, зайдите на [страницу](https://inclass.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2) соревнования и скачайте данные. Первым делом загрузим обучающую и тестовую выборки и посмотрим на данные.

In [129]:
# загрузим обучающую и тестовую выборки
train_df = pd.read_csv('../data/train_sessions.csv',
                       index_col='session_id')
test_df = pd.read_csv('../data/test_sessions.csv',
                      index_col='session_id')

# приведем колонки time1, ..., time10 к временному формату
times = ['time%s' % i for i in range(1, 11)]
train_df[times] = train_df[times].apply(pd.to_datetime)
test_df[times] = test_df[times].apply(pd.to_datetime)

# отсортируем данные по времени
train_df = train_df.sort_values(by='time1')

# посмотрим на заголовок обучающей выборки
train_df.head(20)

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
21669,56,2013-01-12 08:05:57,55.0,2013-01-12 08:05:57,NaN,NaT,NaN,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
54843,56,2013-01-12 08:37:23,55.0,2013-01-12 08:37:23,56.0,2013-01-12 09:07:07,55.0,2013-01-12 09:07:09,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
77292,946,2013-01-12 08:50:13,946.0,2013-01-12 08:50:14,951.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:16,...,2013-01-12 08:50:16,948.0,2013-01-12 08:50:16,784.0,2013-01-12 08:50:16,949.0,2013-01-12 08:50:17,946.0,2013-01-12 08:50:17,0
114021,945,2013-01-12 08:50:17,948.0,2013-01-12 08:50:17,949.0,2013-01-12 08:50:18,948.0,2013-01-12 08:50:18,945.0,2013-01-12 08:50:18,...,2013-01-12 08:50:18,947.0,2013-01-12 08:50:19,945.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:20,0
146670,947,2013-01-12 08:50:20,950.0,2013-01-12 08:50:20,948.0,2013-01-12 08:50:20,947.0,2013-01-12 08:50:21,950.0,2013-01-12 08:50:21,...,2013-01-12 08:50:21,946.0,2013-01-12 08:50:21,951.0,2013-01-12 08:50:22,946.0,2013-01-12 08:50:22,947.0,2013-01-12 08:50:22,0
242171,952,2013-01-12 08:50:22,947.0,2013-01-12 08:50:23,953.0,2013-01-12 08:50:23,946.0,2013-01-12 08:50:23,947.0,2013-01-12 08:50:24,...,2013-01-12 08:50:24,953.0,2013-01-12 08:50:24,955.0,2013-01-12 08:50:24,946.0,2013-01-12 08:50:25,947.0,2013-01-12 08:50:25,0
57157,953,2013-01-12 08:50:25,947.0,2013-01-12 08:50:26,946.0,2013-01-12 08:50:26,953.0,2013-01-12 08:50:26,955.0,2013-01-12 08:50:26,...,2013-01-12 08:50:27,953.0,2013-01-12 08:50:27,946.0,2013-01-12 08:50:27,953.0,2013-01-12 08:50:28,1033.0,2013-01-12 08:50:28,0
240201,946,2013-01-12 08:50:28,947.0,2013-01-12 08:50:28,954.0,2013-01-12 08:50:28,953.0,2013-01-12 08:50:29,946.0,2013-01-12 08:50:29,...,2013-01-12 08:50:29,946.0,2013-01-12 08:50:30,956.0,2013-01-12 08:50:30,957.0,2013-01-12 08:50:31,956.0,2013-01-12 08:50:31,0
210686,946,2013-01-12 08:50:31,956.0,2013-01-12 08:50:32,946.0,2013-01-12 08:50:32,946.0,2013-01-12 08:50:33,955.0,2013-01-12 08:50:33,...,2013-01-12 08:50:33,946.0,2013-01-12 08:50:34,946.0,2013-01-12 08:50:35,946.0,2013-01-12 08:50:36,948.0,2013-01-12 08:50:36,0
98804,948,2013-01-12 08:50:37,946.0,2013-01-12 08:50:37,948.0,2013-01-12 08:50:38,784.0,2013-01-12 08:50:49,49.0,2013-01-12 08:50:59,...,2013-01-12 08:51:03,812.0,2013-01-12 08:51:03,982.0,2013-01-12 08:51:03,52.0,2013-01-12 08:51:03,52.0,2013-01-12 08:51:04,0
113494,52,2013-01-12 08:51:05,52.0,2013-01-12 08:51:27,52.0,2013-01-12 08:51:31,747.0,2013-01-12 08:51:32,747.0,2013-01-12 08:51:33,...,2013-01-12 08:51:34,23.0,2013-01-12 08:51:34,747.0,2013-01-12 08:51:35,568.0,2013-01-12 08:51:36,23.0,2013-01-12 08:51:36,0
223837,513,2013-01-12 08:51:36,1116.0,2013-01-12 08:51:36,747.0,2013-01-12 08:51:36,23.0,2013-01-12 08:51:37,747.0,2013-01-12 08:51:38,...,2013-01-12 08:51:39,29.0,2013-01-12 08:51:40,49.0,2013-01-12 08:51:59,52.0,2013-01-12 08:52:24,21.0,2013-01-12 08:52:26,0
145475,4222,2013-01-12 08:52:27,3358.0,2013-01-12 08:52:28,4222.0,2013-01-12 08:52:28,3356.0,2013-01-12 08:52:28,4222.0,2013-01-12 08:52:29,...,2013-01-12 08:52:33,21.0,2013-01-12 08:52:33,3870.0,2013-01-12 08:52:34,3358.0,2013-01-12 08:52:42,21.0,2013-01-12 08:53:09,0
186633,38667,2013-01-12 08:53:09,181.0,2013-01-12 08:53:09,23.0,2013-01-12 08:53:09,181.0,2013-01-12 08:53:10,38667.0,2013-01-12 08:53:10,...,2013-01-12 08:53:10,182.0,2013-01-12 08:53:10,181.0,2013-01-12 08:53:11,38667.0,2013-01-12 08:53:11,55.0,2013-01-12 08:53:25,0
45193,56,2013-01-12 08:53:25,55.0,2013-01-12 08:53:26,679.0,2013-01-12 08:54:15,676.0,2013-01-12 08:54:15,814.0,2013-01-12 08:54:22,...,2013-01-12 08:54:23,39.0,2013-01-12 08:54:24,815.0,2013-01-12 08:54:26,752.0,2013-01-12 08:54:33,50.0,2013-01-12 08:54:57,0
102930,570,2013-01-12 08:55:10,23.0,2013-01-12 08:55:11,21.0,2013-01-12 08:55:16,3356.0,2013-01-12 08:55:23,48.0,2013-01-12 08:56:57,...,2013-01-12 09:00:57,570.0,2013-01-12 09:05:20,513.0,2013-01-12 09:11:28,1379.0,2013-01-12 09:11:31,21.0,2013-01-12 09:14:59,0
15789,820,2013-01-12 08:59:34,820.0,2013-01-12 08:59:36,980.0,2013-01-12 08:59:40,49.0,2013-01-12 09:00:05,56.0,2013-01-12 09:00:57,...,2013-01-12 09:00:57,49.0,2013-01-12 09:01:07,784.0,2013-01-12 09:04:21,222.0,2013-01-12 09:06:04,50.0,2013-01-12 09:08:04,0
205868,48,2013-01-12 09:10:04,56.0,2013-01-12 09:31:21,55.0,2013-01-12 09:31:21,55.0,2013-01-12 09:31:22,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
21102,5898,2013-01-12 09:14:59,5898.0,2013-01-12 09:15:00,5794.0,2013-01-12 09:15:29,21.0,2013-01-12 09:15:29,5794.0,2013-01-12 09:15:30,...,2013-01-12 09:15:31,21.0,2013-01-12 09:15:37,182.0,2013-01-12 09:15:38,23.0,2013-01-12 09:15:38,181.0,2013-01-12 09:15:38,0
193454,2570,2013-01-12 09:15:38,2570.0,2013-01-12 09:15:39,21.0,2013-01-12 09:17:06,21.0,2013-01-12 09:17:07,1102.0,2013-01-12 09:17:07,...,2013-01-12 09:17:09,23.0,2013-01-12 09:19:53,570.0,2013-01-12 09:19:55,707.0,2013-01-12 09:19:55,21.0,2013-01-12 09:19:55,0

In [130]:
train_df.shape, test_df.shape

((253561, 21), (82797, 20))

В обучающей выборке содержатся следующие признаки:
    - site1 – индекс первого посещенного сайта в сессии
    - time1 – время посещения первого сайта в сессии
    - ...
    - site10 – индекс 10-го посещенного сайта в сессии
    - time10 – время посещения 10-го сайта в сессии
    - target – целевая переменная, 1 для сессий Элис, 0 для сессий других пользователей
    
Сессии пользователей выделены таким образом, что они не могут быть длиннее получаса или 10 сайтов. То есть сессия считается оконченной либо когда пользователь посетил 10 сайтов подряд либо когда сессия заняла по времени более 30 минут.

В таблице встречаются пропущенные значения, это значит, что сессия состоит менее, чем из 10 сайтов. Заменим пропущенные значения нулями и приведем признаки к целому типу. Также загрузим словарь сайтов и посмотрим, как он выглядит:

In [131]:
# приведем колонки site1, ..., site10 к целочисленному формату и заменим пропуски нулями
sites = ['site%s' % i for i in range(1, 11)]
train_df[sites] = train_df[sites].fillna(0).astype('int')
test_df[sites] = test_df[sites].fillna(0).astype('int')

# загрузим словарик сайтовcross_val_score(lasso, X, y, cv=3)
with open(r"../data/site_dic.pkl", "rb") as input_file:
    site_dict = pickle.load(input_file)

# датафрейм словарика сайтов
sites_dict_df = pd.DataFrame(list(site_dict.keys()), 
                          index=list(site_dict.values()), 
                          columns=['site'])
print(u'всего сайтов:', sites_dict_df.shape[0])
sites_dict_df.head(20)

всего сайтов: 48371

                                                    site
25075                             www.abmecatronique.com
13997                                    groups.live.com
42436                 majeureliguefootball.wordpress.com
30911                          cdt46.media.tourinsoft.eu
8104                                 www.hdwallpapers.eu
37491                               img378.imageshack.us
5462                             ecologie.nature.free.fr
35425                            www.ibcn.intec.ugent.be
30151                                      kissanime.com
38268                  www.carolineconduiteformation.com
43641                            images.mystockphoto.com
36959                           journalph.csphares.qc.ca
40935                                         www.uqo.ca
12346                       d8d94e0wul1nb.cloudfront.net
31023                                  openapi.elong.com
31114                            flamenco-o.blogspot.com
28165                             www.pages-annuaire.net
31877                     smart2000.pagesperso-orange.fr
31070                                    fast.forbes.com
12938  i1-js-14-3-01-10077-536503633-i.init.cedexis-r...

Выделим целевую переменную и объединим выборки, чтобы вместе привести их к разреженному формату.

In [132]:
# наша целевая переменная
y_train = train_df['target']

# объединенная таблица исходных данных
full_df = pd.concat([train_df.drop('target', axis=1), test_df])

# индекс, по которому будем отделять обучающую выборку от тестовой
idx_split = train_df.shape[0]

Для самой первой модели будем использовать только посещенные сайты в сессии (но не будем обращать внимание на временные признаки). За таким выбором данных для модели стоит такая идея:  *у Элис есть свои излюбленные сайты, и чем чаще вы видим эти сайты в сессии, тем выше вероятность, что это сессия Элис и наоборот.*

Подготовим данные, из всей таблицы выберем только признаки `site1, site2, ... , site10`. Напомним, что пропущенные значения заменены нулем. Вот как выглядят первые строки таблицы:

In [133]:
# табличка с индексами посещенных сайтов в сессии
full_sites = full_df[sites]
full_sites.head(10)

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10
session_id,,,,,,,,,,
21669,56,55,0,0,0,0,0,0,0,0
54843,56,55,56,55,0,0,0,0,0,0
77292,946,946,951,946,946,945,948,784,949,946
114021,945,948,949,948,945,946,947,945,946,946
146670,947,950,948,947,950,952,946,951,946,947
242171,952,947,953,946,947,946,953,955,946,947
57157,953,947,946,953,955,947,953,946,953,1033
240201,946,947,954,953,946,954,946,956,957,956
210686,946,956,946,946,955,954,946,946,946,948
98804,948,946,948,784,49,53,812,982,52,52

Сессии представляют собой последовательность индексов сайтов и данные в таком виде неудобны для линейных методов. В соответствии с нашей гипотезой (у Элис есть излюбленные сайты) надо преобразовать эту таблицу таким образом, чтобы каждому возможному сайту соответствовал свой отдельный признак (колонка), а его значение равнялось бы количеству посещений этого сайта в сессии. Это делается в две строчки:

In [134]:
from scipy.sparse import csr_matrix

In [135]:
csr_matrix?

In [136]:
# последовательность с индексами
sites_flatten = full_sites.values.flatten()

# искомая матрица
full_sites_sparse = csr_matrix(([1] * sites_flatten.shape[0],
                                sites_flatten,
                                range(0, sites_flatten.shape[0] + 10, 10)))[:, 1:]

Еще один плюс использования разреженных матриц в том, что для них имеются специальные реализации как матричных операций, так и алгоритмов машинного обучения, что подчас позволяет ощутимо ускорить операции за счет особенностей структуры данных. Это касается и логистической регрессии. Вот теперь у нас все готово для построения нашей первой модели.

### 2. Построение первой модели

Итак, у нас есть алгоритм и данные для него, построим нашу первую модель, воспользовавшись релизацией [логистической регрессии](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html) из пакета `sklearn` с параметрами по умолчанию. Первые 90% данных будем использовать для обучения (обучающая выборка отсортирована по времени), а оставшиеся 10% для проверки качества (validation). 

**Напишите простую функцию, которая будет возвращать качество модели на отложенной выборке, и обучите наш первый классификатор**.

In [137]:
def get_auc_lr_valid(X, y, C=1.0, ratio = 0.9, seed=17):
    '''
    X, y – выборка
    ratio – в каком отношении поделить выборку
    C, seed – коэф-т регуляризации и random_state 
              логистической регрессии
    '''
    train_len = int(ratio * X.shape[0])
    X_train = X[:train_len, :]
    X_val = X[train_len:, :]
    y_train = y[:train_len]
    y_val = y[train_len:]
    
    model = LogisticRegression(C=C, random_state=seed, n_jobs=-1)
    model.fit(X_train, y_train)
    
    y_predict = model.predict_proba(X_val)[:, 1]
    
    return roc_auc_score(y_val, y_predict)

**Посмотрите, какой получился ROC AUC на отложенной выборке.**

In [138]:
X_train_sparse = full_sites_sparse[:idx_split]

In [139]:
X_train_sparse.shape, y_train.shape

((253561, 48371), (253561,))

In [140]:
get_auc_lr_valid(X_train_sparse, y_train)

0.9197955574958125

Будем считать эту модель нашей первой отправной точкой (baseline). Для построения модели для прогноза на тестовой выборке **необходимо обучить модель заново уже на всей обучающей выборке** (пока наша модель обучалась лишь на части данных), что повысит ее обобщающую способность:

In [141]:
# функция для записи прогнозов в файл
def write_to_submission_file(predicted_labels, out_file,
                             target='target', index_label="session_id"):
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)

**Обучите модель на всей выборке, сделайте прогноз для тестовой выборки и сделайте посылку в соревновании**.

In [142]:
model = LogisticRegression(random_state=17, n_jobs=-1)
model.fit(X_train_sparse, y_train)

predict = model.predict_proba(full_sites_sparse[idx_split:])[:, 1]
write_to_submission_file(predict, 'result_2.csv')

Если вы выполните эти действия и загрузите ответ на [странице](https://inclass.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2) соревнования, то воспроизведете первый бенчмарк "Logit".

### 3. Улучшение модели, построение новых признаков

Создайте такой признак, который будет представлять собой число вида ГГГГММ от той даты, когда проходила сессия, например 201407 -- 2014 год и 7 месяц. Таким образом, мы будем учитывать помесячный [линейный тренд](http://people.duke.edu/~rnau/411trend.htm) за весь период предоставленных данных.

In [143]:
full_df['time_start'] = full_df['time1'].apply(lambda d: int(d.year * 100 + d.month))

In [158]:
full_df.tail(50)

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time7,site8,time8,site9,time9,site10,time10,time_start,start_hour,morning
session_id,,,,,,,,,,,,,,,,,,,,,
82748,167,2014-11-04 17:33:52,167,2014-11-04 17:33:53,167,2014-11-04 17:33:54,359,2014-11-04 17:33:54,812,2014-11-04 17:33:54,...,2014-11-04 17:33:57,812,2014-11-04 17:34:00,679,2014-11-04 17:34:12,39,2014-11-04 17:34:25,0.703932,17,False
82749,217,2014-06-02 11:06:44,562,2014-06-02 11:06:44,261,2014-06-02 11:06:44,3897,2014-06-02 11:06:44,1002,2014-06-02 11:06:44,...,2014-06-02 11:06:45,17749,2014-06-02 11:06:46,3897,2014-06-02 11:06:46,261,2014-06-02 11:06:46,0.577432,11,True
82750,1278,2014-05-23 18:14:06,13123,2014-05-23 18:14:22,29,2014-05-23 18:14:22,13123,2014-05-23 18:14:25,1278,2014-05-23 18:14:26,...,2014-05-23 18:14:29,22,2014-05-23 18:14:31,784,2014-05-23 18:14:34,0,NaT,0.552132,18,False
82751,67,2014-11-04 15:49:34,71,2014-11-04 15:49:35,70,2014-11-04 15:49:35,21,2014-11-04 15:49:55,21,2014-11-04 15:49:57,...,2014-11-04 15:49:59,21,2014-11-04 15:50:11,22,2014-11-04 15:50:11,23,2014-11-04 15:50:11,0.703932,15,False
82752,786,2014-11-04 10:32:03,786,2014-11-04 10:32:05,48,2014-11-04 10:32:07,786,2014-11-04 10:32:08,786,2014-11-04 10:32:10,...,2014-11-04 10:32:15,786,2014-11-04 10:32:17,786,2014-11-04 10:32:19,786,2014-11-04 10:32:22,0.703932,10,True
82753,363,2014-08-01 10:36:16,1651,2014-08-01 10:36:16,362,2014-08-01 10:36:16,364,2014-08-01 10:36:16,360,2014-08-01 10:36:16,...,2014-08-01 10:36:17,1652,2014-08-01 10:36:17,362,2014-08-01 10:36:17,1651,2014-08-01 10:36:17,0.628032,10,True
82754,29,2014-05-28 18:25:56,2296,2014-05-28 18:25:56,20649,2014-05-28 18:26:15,20649,2014-05-28 18:26:16,2296,2014-05-28 18:26:17,...,2014-05-28 18:26:35,20649,2014-05-28 18:26:36,29,2014-05-28 18:26:36,2296,2014-05-28 18:26:37,0.552132,18,False
82755,42743,2014-05-27 10:17:58,42741,2014-05-27 10:17:58,42740,2014-05-27 10:17:58,5275,2014-05-27 10:17:58,42742,2014-05-27 10:17:58,...,2014-05-27 10:17:59,42740,2014-05-27 10:18:00,42742,2014-05-27 10:18:00,42740,2014-05-27 10:18:01,0.552132,10,True
82756,780,2014-10-04 11:04:21,780,2014-10-04 11:04:22,782,2014-10-04 11:04:23,780,2014-10-04 11:04:30,782,2014-10-04 11:04:30,...,2014-10-04 11:04:31,780,2014-10-04 11:04:37,780,2014-10-04 11:04:38,780,2014-10-04 11:04:39,0.678632,11,True
82757,52,2014-05-15 09:23:55,53,2014-05-15 09:23:55,222,2014-05-15 09:23:55,52,2014-05-15 09:25:55,52,2014-05-15 09:25:57,...,2014-05-15 09:26:09,300,2014-05-15 09:26:10,300,2014-05-15 09:26:11,302,2014-05-15 09:26:11,0.552132,9,True
82758,782,2014-07-03 10:25:30,782,2014-07-03 10:25:31,782,2014-07-03 10:25:44,782,2014-07-03 10:26:01,782,2014-07-03 10:26:14,...,2014-07-03 10:26:44,782,2014-07-03 10:27:01,782,2014-07-03 10:27:14,782,2014-07-03 10:27:31,0.602732,10,True
82759,782,2014-07-03 14:48:05,782,2014-07-03 14:48:07,782,2014-07-03 14:48:35,782,2014-07-03 14:48:37,782,2014-07-03 14:49:06,...,2014-07-03 14:49:36,782,2014-07-03 14:49:37,782,2014-07-03 14:50:06,782,2014-07-03 14:50:07,0.602732,14,False
82760,3657,2014-05-04 09:31:15,3665,2014-05-04 09:31:15,3662,2014-05-04 09:31:18,3657,2014-05-04 09:31:18,3664,2014-05-04 09:31:18,...,2014-05-04 09:31:18,3657,2014-05-04 09:31:23,1161,2014-05-04 09:31:23,3665,2014-05-04 09:31:23,0.552132,9,True
82761,879,2014-05-04 20:45:03,80,2014-05-04 20:45:07,879,2014-05-04 20:45:17,80,2014-05-04 20:45:18,80,2014-05-04 20:45:20,...,2014-05-04 20:45:24,879,2014-05-04 20:45:33,29,2014-05-04 20:45:39,1931,2014-05-04 20:45:39,0.552132,20,False
82762,1202,2014-05-16 14:52:14,1202,2014-05-16 14:52:16,1202,2014-05-16 14:52:18,1202,2014-05-16 14:52:19,52,2014-05-16 14:52:30,...,2014-05-16 14:52:31,302,2014-05-16 14:52:31,1202,2014-05-16 14:52:32,1202,2014-05-16 14:52:38,0.552132,14,False
82763,178,2014-05-03 12:48:21,177,2014-05-03 12:48:22,178,2014-05-03 12:48:22,177,2014-05-03 12:48:35,175,2014-05-03 12:48:35,...,2014-05-03 12:49:11,667,2014-05-03 12:49:11,178,2014-05-03 12:49:11,177,2014-05-03 12:49:11,0.552132,12,False
82764,16340,2014-08-04 09:33:28,16340,2014-08-04 09:33:29,16340,2014-08-04 09:33:30,16340,2014-08-04 09:33:31,16340,2014-08-04 09:33:32,...,2014-08-04 09:33:34,16340,2014-08-04 09:33:35,16340,2014-08-04 09:33:36,16340,2014-08-04 09:33:37,0.628032,9,True
82765,80,2014-05-04 16:56:32,80,2014-05-04 16:56:33,80,2014-05-04 16:56:37,76,2014-05-04 16:56:38,879,2014-05-04 16:56:43,...,2014-05-04 16:56:47,186,2014-05-04 16:56:54,29,2014-05-04 16:56:54,80,2014-05-04 16:56:58,0.552132,16,False
82766,22846,2014-05-03 08:57:10,22846,2014-05-03 08:57:12,22846,2014-05-03 08:57:13,22847,2014-05-03 08:57:13,22846,2014-05-03 08:58:26,...,2014-05-03 08:58:28,22847,2014-05-03 08:58:28,22846,2014-05-03 08:58:29,22847,2014-05-03 08:58:30,0.552132,8,True
82767,29,2014-07-02 12:22:16,37,2014-07-02 12:22:17,37,2014-07-02 12:22:49,75,2014-07-02 12:24:12,76,2014-07-02 12:24:12,...,2014-07-02 12:24:13,77,2014-07-02 12:24:14,75,2014-07-02 12:24:14,78,2014-07-02 12:24:15,0.602732,12,False
82768,1202,2014-05-16 15:46:49,1202,2014-05-16 15:46:51,1202,2014-05-16 15:47:37,1202,2014-05-16 15:47:38,302,2014-05-16 15:47:48,...,2014-05-16 15:47:49,302,2014-05-16 15:47:49,1222,2014-05-16 15:47:49,1221,2014-05-16 15:47:49,0.552132,15,False
82769,883,2014-10-02 13:29:11,884,2014-10-02 13:29:11,5256,2014-10-02 13:29:11,5260,2014-10-02 13:29:12,0,NaT,...,NaT,0,NaT,0,NaT,0,NaT,0.678632,13,False
82770,678,2014-05-28 17:01:59,775,2014-05-28 17:02:12,678,2014-05-28 17:02:53,775,2014-05-28 17:03:04,678,2014-05-28 17:03:44,...,2014-05-28 17:04:36,775,2014-05-28 17:04:51,678,2014-05-28 17:05:32,775,2014-05-28 17:05:48,0.552132,17,False
82771,23695,2014-11-02 10:51:02,23695,2014-11-02 10:51:04,23695,2014-11-02 10:51:06,23695,2014-11-02 10:51:11,23695,2014-11-02 10:51:13,...,2014-11-02 10:51:17,23695,2014-11-02 10:51:19,23695,2014-11-02 10:51:22,23695,2014-11-02 10:51:24,0.703932,10,True
82772,33,2014-06-01 14:05:35,5392,2014-06-01 14:05:35,35,2014-06-01 14:05:35,5392,2014-06-01 14:05:37,5403,2014-06-01 14:05:38,...,2014-06-01 14:05:38,5845,2014-06-01 14:05:38,1349,2014-06-01 14:05:41,22,2014-06-01 14:05:41,0.577432,14,False
82773,270,2014-06-02 15:53:01,167,2014-06-02 15:53:02,167,2014-06-02 15:53:03,812,2014-06-02 15:53:03,167,2014-06-02 15:53:04,...,2014-06-02 15:53:04,676,2014-06-02 15:53:05,812,2014-06-02 15:53:06,270,2014-06-02 15:53:09,0.577432,15,False
82774,1102,2014-10-02 08:34:05,21,2014-10-02 08:36:02,22,2014-10-02 08:36:14,39,2014-10-02 08:36:15,5563,2014-10-02 08:38:12,...,2014-10-02 08:39:42,570,2014-10-02 08:40:53,570,2014-10-02 08:46:27,18996,2014-10-02 08:48:12,0.678632,8,True
82775,3393,2014-07-03 10:47:05,3393,2014-07-03 10:47:07,3393,2014-07-03 10:47:08,335,2014-07-03 10:47:10,29,2014-07-03 10:47:12,...,2014-07-03 10:47:12,35,2014-07-03 10:47:12,29,2014-07-03 10:47:34,37,2014-07-03 10:47:42,0.602732,10,True
82776,122,2014-05-03 09:33:35,134,2014-05-03 09:33:36,134,2014-05-03 09:33:37,132,2014-05-03 09:33:37,2428,2014-05-03 09:33:46,...,2014-05-03 09:33:54,30,2014-05-03 09:33:55,29,2014-05-03 09:33:55,29,2014-05-03 09:33:57,0.552132,9,True
82777,301,2014-05-22 10:22:08,48,2014-05-22 10:22:08,76,2014-05-22 10:22:09,32,2014-05-22 10:22:09,29,2014-05-22 10:22:09,...,2014-05-22 10:22:10,75,2014-05-22 10:22:10,29,2014-05-22 10:22:12,301,2014-05-22 10:22:13,0.552132,10,True
82778,1086,2014-06-01 15:59:21,1086,2014-06-01 15:59:23,1086,2014-06-01 15:59:25,269,2014-06-01 15:59:59,1086,2014-06-01 16:01:18,...,2014-06-01 16:03:45,14906,2014-06-01 16:03:45,35,2014-06-01 16:03:46,29,2014-06-01 16:03:46,0.577432,15,False
82779,300,2014-05-19 14:09:38,300,2014-05-19 14:09:41,302,2014-05-19 14:09:51,302,2014-05-19 14:09:52,302,2014-05-19 14:09:53,...,2014-05-19 14:09:55,302,2014-05-19 14:09:56,1202,2014-05-19 14:09:56,300,2014-05-19 14:09:56,0.552132,14,False
82780,66,2014-07-05 08:34:08,63,2014-07-05 08:34:08,21,2014-07-05 08:34:15,21,2014-07-05 08:34:16,23,2014-07-05 08:34:18,...,2014-07-05 08:34:19,23,2014-07-05 08:34:19,21,2014-07-05 08:34:31,21,2014-07-05 08:34:33,0.602732,8,True
82781,3996,2014-07-04 17:05:53,3413,2014-07-04 17:05:53,3996,2014-07-04 17:05:54,3605,2014-07-04 17:05:54,3324,2014-07-04 17:05:54,...,2014-07-04 17:05:54,3607,2014-07-04 17:05:54,3996,2014-07-04 17:05:55,3606,2014-07-04 17:05:56,0.602732,17,False
82782,32,2014-08-02 10:11:06,30,2014-08-02 10:11:06,33,2014-08-02 10:11:07,44651,2014-08-02 10:11:07,22,2014-08-02 10:11:07,...,2014-08-02 10:11:07,44651,2014-08-02 10:11:12,44651,2014-08-02 10:11:18,44651,2014-08-02 10:11:24,0.628032,10,True
82783,747,2014-05-25 16:43:32,38,2014-05-25 16:43:32,23,2014-05-25 16:43:33,513,2014-05-25 16:43:33,747,2014-05-25 16:43:33,...,2014-05-25 16:43:34,749,2014-05-25 16:43:34,747,2014-05-25 16:43:35,52,2014-05-25 16:43:35,0.552132,16,False
82784,5598,2014-05-02 11:03:37,5598,2014-05-02 11:03:38,5598,2014-05-02 11:03:39,5598,2014-05-02 11:03:40,5598,2014-05-02 11:03:41,...,2014-05-02 11:03:49,984,2014-05-02 11:03:56,5598,2014-05-02 11:03:56,5598,2014-05-02 11:03:57,0.552132,11,True
82785,22,2014-06-02 12:25:22,814,2014-06-02 12:25:22,570,2014-06-02 12:25:22,812,2014-06-02 12:25:22,23,2014-06-02 12:25:22,...,2014-06-02 12:25:23,812,2014-06-02 12:25:23,570,2014-06-02 12:25:23,1039,2014-06-02 12:25:23,0.577432,12,False
82786,786,2014-07-04 10:38:09,786,2014-07-04 10:38:13,782,2014-07-04 10:38:31,786,2014-07-04 10:38:32,782,2014-07-04 10:38:37,...,2014-07-04 10:38:40,782,2014-07-04 10:39:01,782,2014-07-04 10:39:07,23,2014-07-04 10:39:08,0.602732,10,True
82787,6801,2014-11-02 08:44:53,6801,2014-11-02 08:45:05,22,2014-11-02 08:45:08,23,2014-11-02 08:45:08,812,2014-11-02 08:45:12,...,2014-11-02 08:45:23,6801,2014-11-02 08:45:23,22,2014-11-02 08:45:26,6801,2014-11-02 08:45:26,0.703932,8,True
82788,69,2014-12-05 12:10:09,67,2014-12-05 12:10:09,301,2014-12-05 12:10:28,301,2014-12-05 12:10:37,21,2014-12-05 12:10:49,...,2014-12-05 12:11:04,21,2014-12-05 12:11:22,21,2014-12-05 12:11:23,22,2014-12-05 12:11:23,0.729232,12,False
82789,30,2014-08-04 17:03:46,19394,2014-08-04 17:03:46,33,2014-08-04 17:03:46,19386,2014-08-04 17:03:46,19396,2014-08-04 17:03:46,...,2014-08-04 17:03:47,19386,2014-08-04 17:03:48,19402,2014-08-04 17:03:48,22,2014-08-04 17:03:48,0.628032,17,False
82790,167,2014-10-02 13:32:46,359,2014-10-02 13:32:46,167,2014-10-02 13:32:47,204,2014-10-02 13:32:47,3,2014-10-02 13:32:47,...,2014-10-02 13:32:47,884,2014-10-02 13:32:48,5256,2014-10-02 13:32:48,883,2014-10-02 13:32:48,0.678632,13,False
82791,677,2014-05-03 15:59:57,774,2014-05-03 16:05:02,677,2014-05-03 16:05:52,616,2014-05-03 16:06:59,570,2014-05-03 16:08:52,...,2014-05-03 16:15:06,677,2014-05-03 16:17:52,570,2014-05-03 16:18:04,677,2014-05-03 16:23:53,0.552132,15,False
82792,63,2014-05-27 12:37:09,3346,2014-05-27 12:40:43,167,2014-05-27 12:41:04,3,2014-05-27 12:41:12,167,2014-05-27 12:41:14,...,2014-05-27 12:41:14,384,2014-05-27 12:41:14,23,2014-05-27 12:41:31,3346,2014-05-27 12:41:43,0.552132,12,False
82793,812,2014-10-02 18:20:09,1039,2014-10-02 18:20:09,676,2014-10-02 18:20:09,0,NaT,0,NaT,...,NaT,0,NaT,0,NaT,0,NaT,0.678632,18,False
82794,300,2014-05-26 14:16:40,302,2014-05-26 14:16:41,302,2014-05-26 14:16:44,300,2014-05-26 14:16:44,300,2014-05-26 14:17:19,...,2014-05-26 14:17:19,1218,2014-05-26 14:17:19,1221,2014-05-26 14:17:19,1216,2014-05-26 14:17:19,0.552132,14,False
82795,29,2014-05-02 11:21:56,33,2014-05-02 11:21:56,35,2014-05-02 11:21:56,22,2014-05-02 11:22:03,37,2014-05-02 11:22:03,...,2014-05-02 11:22:03,21,2014-05-02 11:22:04,23,2014-05-02 11:22:04,6780,2014-05-02 11:22:04,0.552132,11,True
82796,5828,2014-05-03 10:05:25,23,2014-05-03 10:05:27,21,2014-05-03 10:05:27,804,2014-05-03 10:05:27,21,2014-05-03 10:05:36,...,2014-05-03 10:05:37,894,2014-05-03 10:05:38,21,2014-05-03 10:05:38,961,2014-05-03 10:05:38,0.552132,10,True
82797,21,2014-11-02 10:46:57,1098,2014-11-02 10:46:57,1098,2014-11-02 10:46:58,1098,2014-11-02 10:47:12,1098,2014-11-02 10:47:13,...,2014-11-02 10:47:15,1098,2014-11-02 10:47:18,1098,2014-11-02 10:47:42,1098,2014-11-02 10:47:47,0.703932,10,True

Добавьте новый признак, предварительно отмасштабировав его с помощью `StandardScaler`, и снова посчитайте ROC AUC на отложенной выборке.

In [145]:
scaler = StandardScaler()
scaler.fit(full_df['time_start'].values.reshape(-1, 1))

StandardScaler()

In [146]:
full_df['time_start'] = scaler.transform(full_df['time_start'].values.reshape(-1, 1))

In [147]:
sparse_data = hstack([full_df['time_start'].values.reshape(-1, 1), full_sites_sparse]).tocsr()

In [148]:
full_df['start_hour'] = full_df['time1'].apply(lambda t: t.hour)

In [151]:
sparse_data = hstack([full_df['start_hour'].values.reshape(-1, 1), sparse_data]).tocsr()

In [154]:
full_df['morning'] = full_df['time1'].apply(lambda t: t.hour <= 11)

In [155]:
sparse_data = hstack([full_df['morning'].values.reshape(-1, 1), sparse_data]).tocsr()

In [162]:
sparse_data.shape, y_train.shape

((336358, 48374), (253561,))

**Добавьте два новых признака: start_hour и morning.**

Признак `start_hour` – это час в который началась сессия (от 0 до 23), а бинарный признак `morning` равен 1, если сессия началась утром и 0, если сессия началась позже (будем считать, что утро это если `start_hour равен` 11 или меньше).

**Посчитйте ROC AUC на отложенной выборке для выборки с:**
- сайтами, `start_month` и `start_hour`
- сайтами, `start_month` и `morning`
- сайтами, `start_month`, `start_hour` и `morning`

In [228]:
get_auc_lr_valid(sparse_data[:idx_split, :], y_train)

0.9550063913755978

In [172]:
model = LogisticRegression(random_state=401, n_jobs=-1)
model.fit(sparse_data[:idx_split], y_train)

predict = model.predict_proba(sparse_data[idx_split:])[:, 1]
write_to_submission_file(predict, 'result_2.csv')

### 4. Подбор коэффицициента регуляризации

Итак, мы ввели признаки, которые улучшают качество нашей модели по сравнению с первым бейслайном. Можем ли мы добиться большего значения метрики? После того, как мы сформировали обучающую и тестовую выборки, почти всегда имеет смысл подобрать оптимальные гиперпараметры -- характеристики модели, которые не изменяются во время обучения. Например, на 3 неделе вы проходили решающие деревья, глубина дерева это гиперпараметр, а признак, по которому происходит ветвление и его значение -- нет. В используемой нами логистической регрессии веса каждого признака изменяются и во время обучения находится их оптимальные значения, а коэффициент регуляризации остается постоянным. Это тот гиперпараметр, который мы сейчас будем оптимизировать.

Посчитайте качество на отложенной выборке с коэффициентом регуляризации, который по умолчанию `C=1`:

In [173]:
get_auc_lr_valid(sparse_data[:idx_split, :], y_train, C=1)

0.9550063913755978

Постараемся побить этот результат за счет оптимизации коэффициента регуляризации. Возьмем набор возможных значений C и для каждого из них посчитаем значение метрики на отложенной выборке.

Найдите `C` из `np.logspace(-3, 1, 10)`, при котором ROC AUC на отложенной выборке максимален.

In [224]:
C_values = np.logspace(-3, 1, 20)
C_values

array([1.00000000e-03, 1.62377674e-03, 2.63665090e-03, 4.28133240e-03,
       6.95192796e-03, 1.12883789e-02, 1.83298071e-02, 2.97635144e-02,
       4.83293024e-02, 7.84759970e-02, 1.27427499e-01, 2.06913808e-01,
       3.35981829e-01, 5.45559478e-01, 8.85866790e-01, 1.43844989e+00,
       2.33572147e+00, 3.79269019e+00, 6.15848211e+00, 1.00000000e+01])

In [239]:
from sklearn.model_selection import cross_val_score

def get_auc_with_validation(X, y, C=1.0, seed=17):
    model = LogisticRegression(C=C, random_state=seed, n_jobs=-1)
    return cross_val_score(model, X, y, cv=5).mean()

In [240]:
for c in C_values:
    print('C =', c, ': ', get_auc_with_validation(sparse_data[:idx_split, :], y_train, C=c))

C = 0.001 :  0.9909094852131745
C = 0.001623776739188721 :  0.9908976536940074
C = 0.0026366508987303583 :  0.990858215607855
C = 0.004281332398719396 :  0.9908384963314754
C = 0.0069519279617756054 :  0.9908266644234693
C = 0.011288378916846888 :  0.9908148327487666
C = 0.018329807108324356 :  0.9907990584008589
C = 0.029763514416313176 :  0.9908187775994707
C = 0.04832930238571752 :  0.9907753966845778
C = 0.07847599703514611 :  0.9907162400997243
C = 0.12742749857031335 :  0.9904677820078394
C = 0.20691380811147903 :  0.9901128414099685
C = 0.3359818286283781 :  0.990144392594354
C = 0.5455594781168515 :  0.9900970638735798
C = 0.8858667904100823 :  0.9895133862488636
C = 1.438449888287663 :  0.9895488772290448
C = 2.3357214690901213 :  0.9896553615236909
C = 3.792690190732246 :  0.9896080347471123
C = 6.158482110660261 :  0.9894897211107981
C = 10.0 :  0.9891150621697614

Наконец, обучите модель с найденным оптимальным значением коэффициента регуляризации и с построенными признаками `start_hour`, `start_month` и `morning`. Если вы все сделали правильно и загрузите это решение, то повторите второй бенчмарк соревнования.

In [245]:
final_model = LogisticRegression(C=0.1, random_state=17, n_jobs=-1)
final_model.fit(sparse_data[:idx_split, :], y_train)
predict = final_model.predict_proba(sparse_data[idx_split:])[:, 1]
write_to_submission_file(predict, 'result.csv')